@import '../public/common/style/style.css';
.page-content {
	text-align:center;
    .main-content {
        .item {
            display: inline-block;
            .red {
                display: inline-block;
                width:500px;
                height: 500px;
                background: #858585;
            }
            .yellow {
                display: inline-block;
                width:500px;
                height: 500px;
                background: #7AC5CD;
            }
            .blue {
                display: inline-block;
                width:500px;
                height: 500px;
                background: #2F4F4F;
            }
        }
    }
}